body {
    background: linear-gradient(to bottom, #4b00a0, #5bff84, #9da000, #a04000, #a0006b);
    background-size: 100%;
    background-repeat: no-repeat;

}

body:before{
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21dafd 75%);
}

body{
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4em;
}
#container {
    margin: 80px 10%;
    padding: 30px 60px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

main, header{
    box-sizing: border-box;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    margin: 40px 0;
}

h2 {
    color: blue;
    text-decoration: underline;
}